.row{
    margin: auto;
 }
 
 #NavBar {
    margin: auto;
    padding-top: 10px;
 }

 .NavTab {
    text-align: center; 
    background-color: blue;
    color: white;
    border: 2px solid darkblue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font: 25px/35px Bold;
    cursor: pointer;
 }

 .ActiveTab {
    background-color: #6c757d!important;
    border-bottom: 0px;
 }

 .NavTab:hover {
    background-color: limegreen;
 }